<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="codigoqr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Código Qr</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="galeria">
      <ion-icon name="images"></ion-icon>
      <ion-label>Galeria</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>