.card-title{
    font-size: 1.5em;
    font-weight: 600;
}
.card-img{
    position: relative;
    bottom: -50px;
    right: -20px;
    padding: 0;
}
.card-subtitle{
    --color: #008B8B;
    font-size: 1.2em;

}