<app-toolbar name="Leitor de Código QR"></app-toolbar>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="texto_qr">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card-title class="card-title">
            Texto contido no código qr
          </ion-card-title>
          <ion-card-subtitle class="card-subtitle">
            {{texto_qr}}
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="6">
          <ion-card-content class="card-img">
            <ion-img src="../../assets/images/qr.png"></ion-img>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="lerQr()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="gerarQr()">
      <ion-icon name="qr-code-outline"></ion-icon>
      gerar
    </ion-fab-button>
  </ion-fab> -->

</ion-content>