<ion-content *ngIf="!editar">
  <div id="container">
    <ion-avatar>
      <img src="../../../assets/images/eu.jpg">
    </ion-avatar>

    <ion-item class="roundedInput">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" disabled="true" [value]="this.user.getNome()"></ion-input>
    </ion-item>

    <ion-item class="roundedInput">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" disabled="true" [value]="this.user.getEmail()"></ion-input>
    </ion-item>

    <ion-item class="roundedInput">
      <ion-label position="floating">Telefone</ion-label>
      <ion-input maxlength="11" type="tel" disabled="true" [value]="this.user.getTelefone()"></ion-input>
    </ion-item>

    <ion-item class="roundedInput">
      <ion-label position="floating">Data de nascimento</ion-label>
      <ion-datetime [value]="this.user.getDataNascimento()" disabled="true">
      </ion-datetime>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
        </ion-col>
        <ion-col size="6">
          <ion-button class="roundedInput" type="submit" color="primary" (click)="alterarModoEdicao()" expand="block">
            Editar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-content *ngIf="editar">
  <form [formGroup]="formulario" (ngSubmit)="submeterFormulario()" id="container" novalidate>

    <ion-avatar>
      <img src="../../../assets/images/eu.jpg">
    </ion-avatar>

    <ion-item class="roundedInput">
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submeter_formulario && controleErros.nome.errors?.required">
      O nome é obrigatorio.
    </span>
    <span class="error ion-padding" *ngIf="submeter_formulario && controleErros.nome.errors?.minlength">
      O nome deve conter pelo menos 4 caracteres.
    </span>


    <ion-item class="roundedInput">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submeter_formulario && controleErros.email.errors?.required">
      Email é obrigatorio.
    </span>
    <span class="error ion-padding" *ngIf="submeter_formulario && controleErros.email.errors?.pattern">
      O E-mail deve ser válido.
    </span>

    <ion-item class="roundedInput">
      <ion-label position="floating">Telefone</ion-label>
      <ion-input maxlength="11" formControlName="telefone" type="tel" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submeter_formulario && controleErros.telefone.errors?.required">
      Número obrigatorio.
    </span>
    <span class="error ion-padding" *ngIf="submeter_formulario && controleErros.telefone.errors?.pattern">
      O número deve ter 11 dígitos.
    </span>

    <ion-item class="roundedInput">
      <ion-label position="floating">Data de nascimento</ion-label>
      <ion-datetime (ionChange)="pegarData($event)" formControlName="data_nascimento"
        [value]="this.user.getDataNascimento()">
      </ion-datetime>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button class="roundedInput" (click)="alterarModoEdicao()" color="danger" expand="block">Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button class="roundedInput" type="submit" color="primary" expand="block">Salvar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>