.roundedInput {
    margin-top: 15px;
    --border-radius: 30px;
    --border-width: 1px;
    --box-shadow: 2px rgba(128, 128, 128, 0.61);
    --highlight-height: 0;
    --padding:0;
    --background: #fdfdfd;
}
ion-avatar { 
    width: 100px;  
    height: 100px;  
    margin: auto;
}
#container {
    width: 280px; 
    margin-top: 40px;
    margin-left:auto; 
    margin-right: auto; 
}